.bgpic {
	z-index: -1;
	max-width: 98.85%;
	position: fixed;
	top: 70px;
}
body {

}
header {
}
.header {
	color: #c0c;
	background-color: #707;
	padding-left: 30px;
	height: 70px;
	width: 96.58%;
	position: fixed;
	z-index: 1;
	top: 0px;
}
.logo {

}
.nav {
	top: px;
	color: #fff;
}
li {
	float: right;
	margin-top: -52px;
	padding: 18px;
	list-style: none;
}
a {
	color: #c0c;
}
.content {
	margin-left: 100px;
	margin-right: 100px;
}
p {
	color: #fff;
	top: 65px;
	max-width: 100%;
	position: relative;
	font-size: 20px;
	border: 3px solid #707;

}
.footer {
	text-align: center;
}
h5 {
	color: #fff;

}